# Beginner Python Questions
Topics: variables, data types, arithmetic operators, print statement

## 1. Calculate the Total Bill
A restaurant bill is ₹450. GST is 18%. Calculate the final bill amount.

In [ ]:
# Write your solution here
bill=450

gst=0.18*bill
sgst=0.12*bill
other=5

final_bill=bill+gst+sgst+other

print(final_bill)

590.0

grocery bill

In [ ]:
veg= 243

v_gst=(18/100)*veg



milk= 60

m_gst=0.10*milk


final_bill=veg + v_gst + milk+m_gst

print(final_bill)

328.44

## 2. Combine Two Numbers
Create two variables `a = 7` and `b = 3` and compute sum, difference, product, and a^b.

In [ ]:
# Write your solution here
a=7
b=3

print(f"addition:{a+b}")
print(f"sub:{a-b}")
print(f"mult:{a*b}")
print(f"power:{a**b}")

addition:10
sub:4
mult:21
power:343

## 3. Temperature Converter
Convert 36°C to Fahrenheit using F = (C * 9/5) + 32.

In [ ]:
# Write your solution here

temp= 36
Fahrenheit= (temp* 9/5) + 32

print(Fahrenheit)

96.8

## 4. Movie Ticket Cost Calculator
Movie ticket = 180, popcorn = 120. Calculate total for 2 tickets + 1 popcorn and 3 tickets + 0 popcorn.

In [ ]:
# Write your solution here
movie_ticket_price=180
popcorn_price=120

bill_one= 2*movie_ticket_price + popcorn_price
# bill_two= #do it in class

print(bill_one)

480

In [ ]:
# Want to become data analyst

one_product= 125

total_product= 370

revanue =one_product*total_product

gst= 0.18*revanue

pat= revanue-gst

print(pat)

37925.0

In [ ]:
revenue_2023= 263.5
revenue_2024=426.5

print(revenue_2023 <= revenue_2024)

True

## 5. Area of a Circle
Radius = 5. Calculate area using 3.14 * r * r.

In [ ]:
# Write your solution here
rad=5
area=3.14*2*rad
print(area)

31.400000000000002

com

In [ ]:
age=int(input("Enter your age: "))

if age <18:
  print("not adult")
if age>=18:
  print("Driving license approved hojayega")

Enter your age: 67
Driving license approved hojayega

In [ ]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))


if age <18:
  print(f"{name} wait for {18-age} years")
if age>18:
  print("Driving license approved hojayega")
if age==18:
  print("Driving license approved hojayega")

Enter your name: priya
Enter your age: 16
priya wait for 2 years

In [ ]:
age=int(input("age: "))
if age <18:
  print("not elig")
else:
  print("eligible")

age: 21
eligible