### Easy 1

**Question:**  
Create a list of 5 integers and print it.

**Approach:**  
Create a list using square brackets and use print().

In [1]:
numbers = [10, 20, 30, 40, 50]
print(numbers)

[10, 20, 30, 40, 50]

### Easy 2

**Question:**  
Find the length of a given list.

**Approach:**  
Use the built-in len() function.

In [2]:
numbers = [10, 20, 30, 40, 50]
length = len(numbers)
print(length)

5

### Easy 3

**Question:**  
Access and print the last element of a list.

**Approach:**  
Use negative indexing.

In [3]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-1])

50

### Easy 4

**Question:**  
Add an element to the end of a list.

**Approach:**  
Use the append() method.

In [4]:
numbers = [10, 20, 30, 40, 50]
numbers.append(60)
print(numbers)

[10, 20, 30, 40, 50, 60]

### Easy 5

**Question:**  
Remove the first element from a list.

**Approach:**  
Use pop(0) or slicing.

In [5]:
numbers = [10, 20, 30, 40, 50]
numbers.pop(0)
print(numbers)

[20, 30, 40, 50]

### Medium 1

**Question:**  
Print all elements of a list using a loop.

**Approach:**  
Iterate using a for loop.

In [6]:
numbers = [10, 20, 30, 40, 50]

for num in numbers:
    print(num)

10
20
30
40
50

### Medium 2

**Question:**  
Find the sum of all elements in a list.

**Approach:**  
Initialize sum = 0 and add elements in loop.

In [7]:
numbers = [10, 20, 30, 40, 50]

total = 0
for num in numbers:
    total += num

print(total)

150

### Medium 3

**Question:**  
Count how many even numbers are in a list.

**Approach:**  
Check element % 2 == 0 inside loop.

In [8]:
numbers = [10, 21, 30, 43, 50, 66]

count = 0
for num in numbers:
    if num % 2 == 0:
        count += 1

print(count)

4

### Medium 4

**Question:**  
Find the maximum element without using max().

**Approach:**  
Assume first element as max and compare.

In [9]:
numbers = [10, 45, 23, 89, 34]

maximum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num

print(maximum)

89

### Medium 5

**Question:**  
Reverse a list without using reverse().

**Approach:**  
Traverse list from end or use slicing.

In [10]:
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

### Medium 6

**Question:**  
Create a new list with squares of each element.

**Approach:**  
Loop and append square of each element.

In [1]:
numbers = [1, 2, 3, 4, 5]

squares = []
for num in numbers:
    squares.append(num * num)

print(squares)

[1, 4, 9, 16, 25]

### Medium 7

**Question:**  
Remove all occurrences of a given value.

**Approach:**  
Loop and remove or use list comprehension.

In [2]:
numbers = [1, 2, 3, 2, 4, 2, 5]
value = 2

while value in numbers:
    numbers.remove(value)

print(numbers)

[1, 3, 4, 5]

### Medium 8

**Question:**  
Find the index of a given element manually.

**Approach:**  
Traverse list and compare elements.

In [3]:
numbers = [10, 20, 30, 40, 50]
target = 30

index = -1

for i in range(len(numbers)):
    if numbers[i] == target:
        index = i
        break

print(index)

2

### Medium 9

**Question:**  
Merge two lists into one.

**Approach:**  
Use + operator or extend().

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

### Medium 10

**Question:**  
Check if a list is empty.

**Approach:**  
Use len(list) == 0 or direct comparison.

In [5]:
numbers = []

if len(numbers) == 0:
    print("List is empty")
else:
    print("List is not empty")

List is empty

### Hard 1

**Question:**  
Remove duplicate elements from a list.

**Approach:**  
Use loop and a new list or set.

In [6]:
numbers = [1, 2, 3, 2, 4, 1, 5]

unique_list = []
for num in numbers:
    if num not in unique_list:
        unique_list.append(num)

print(unique_list)

[1, 2, 3, 4, 5]

### Hard 2

**Question:**  
Find the second largest element.

**Approach:**  
Track largest and second largest values.

In [7]:
numbers = [10, 45, 23, 89, 34]

largest = second_largest = float('-inf')

for num in numbers:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

print(second_largest)

45

### Hard 3

**Question:**  
Rotate a list to the right by k steps.

**Approach:**  
Use slicing and modulo operation.

In [8]:
numbers = [1, 2, 3, 4, 5]
k = 2

k = k % len(numbers)

rotated_list = numbers[-k:] + numbers[:-k]
print(rotated_list)

[4, 5, 1, 2, 3]

### Hard 4

**Question:**  
Check if a list is a palindrome.

**Approach:**  
Compare list with its reverse.

In [9]:
numbers = [1, 2, 3, 2, 1]

if numbers == numbers[::-1]:
    print("List is a palindrome")
else:
    print("List is not a palindrome")

List is a palindrome

### Hard 5

**Question:**  
Split a list into even and odd lists.

**Approach:**  
Check each element and append accordingly.

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even = []
odd = []

for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even list:", even)
print("Odd list:", odd)

Even list: [2, 4, 6, 8]
Odd list: [1, 3, 5, 7]

### Hard 6

**Question:**  
Find common elements between two lists.

**Approach:**  
Use loop or set intersection.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

common = []
for item in list1:
    if item in list2 and item not in common:
        common.append(item)

print(common)

[4, 5]

### Hard 7

**Question:**  
Create a new list that contains all elements from the given list.

**Approach:**  
Create empty list and append each element.

In [12]:
original = [10, 20, 30, 40, 50]

new_list = []
for item in original:
    new_list.append(item)

print(new_list)

[10, 20, 30, 40, 50]

### Hard 8

**Question:**  
Find frequency of each element.

**Approach:**  
Use dictionary to count occurrences.

In [13]:
numbers = [1, 2, 2, 3, 3, 3, 4]

freq = {}

for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 1}

### Hard 9

**Question:**  
Move all zeros to end of list.

**Approach:**  
Create two lists or swap in-place.

In [14]:
numbers = [0, 1, 0, 3, 12]

non_zero = []
zeros = []

for num in numbers:
    if num == 0:
        zeros.append(num)
    else:
        non_zero.append(num)

result = non_zero + zeros
print(result)

[1, 3, 12, 0, 0]

### Hard 10

**Question:**  
Count how many times the list values increase compared to the previous value.

**Approach:**  
Compare current and previous values.

In [15]:
numbers = [1, 3, 2, 4, 4, 6, 5]

count = 0
for i in range(1, len(numbers)):
    if numbers[i] > numbers[i - 1]:
        count += 1

print(count)

3

### Additional Easy 1

**Question:**  
Create an empty list and print it.

**Approach:**  
Use empty square brackets [].

In [16]:
my_list = []
print(my_list)

[]

### Additional Easy 2

**Question:**  
Create a list of three numbers and print the first element.

**Approach:**  
Use index 0.

In [17]:
numbers = [5, 10, 15]
print(numbers[0])

5

### Additional Easy 3

**Question:**  
Check whether a value exists in a list.

**Approach:**  
Use the in operator.

In [18]:
numbers = [10, 20, 30, 40, 50]
value = 30

if value in numbers:
    print(f"{value} exists in the list")
else:
    print(f"{value} does not exist in the list")

30 exists in the list

### Additional Easy 4

**Question:**  
Replace the second element of a list with a new value.

**Approach:**  
Use index assignment.

In [19]:
numbers = [10, 20, 30, 40, 50]

numbers[1] = 99
print(numbers)

[10, 99, 30, 40, 50]

### Additional Easy 5

**Question:**  
Print each element of a list on a new line.

**Approach:**  
Use a for loop.

In [20]:
numbers = [10, 20, 30, 40, 50]

for num in numbers:
    print(num)

10
20
30
40
50

### Additional Medium 1

**Question:**  
Count how many elements are greater than 10 in a list.

**Approach:**  
Loop and compare each element.

In [21]:
numbers = [5, 12, 7, 18, 3, 25, 10]

count = 0
for num in numbers:
    if num > 10:
        count += 1

print(count)

3

### Additional Medium 2

**Question:**  
Create a new list containing only positive numbers.

**Approach:**  
Check > 0 and append.

In [22]:
numbers = [-5, 3, -2, 7, 0, 10, -1]

positive_numbers = []
for num in numbers:
    if num > 0:
        positive_numbers.append(num)

print(positive_numbers)

[3, 7, 10]

### Additional Medium 3

**Question:**  
Find the smallest element without using min().

**Approach:**  
Assume first element as smallest.

In [23]:
numbers = [10, 45, 23, 5, 34]

smallest = numbers[0]

for num in numbers:
    if num < smallest:
        smallest = num

print(smallest)

5

### Additional Medium 4

**Question:**  
Create a list in reverse order using a loop.

**Approach:**  
Loop from last index to first.

In [24]:
numbers = [1, 2, 3, 4, 5]

reversed_list = []
for i in range(len(numbers)-1, -1, -1):
    reversed_list.append(numbers[i])

print(reversed_list)

[5, 4, 3, 2, 1]

### Additional Medium 5

**Question:**  
Count how many times a given element appears in a list.

**Approach:**  
Use a counter variable.

In [25]:
numbers = [1, 2, 3, 2, 4, 2, 5]
target = 2

count = 0
for num in numbers:
    if num == target:
        count += 1

print(count)

3