# Map, Filter, Reduce

## Problem 1: Square all numbers using `map()`

**Approach:**
- Take a list of numbers
- Use `map()` to apply square operation on each element
- Convert result to list

In [1]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x * x, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

## Problem 2: Convert list of strings to uppercase

**Approach:**
- Use `map()`
- Apply `upper()` on each string

In [2]:
words = ["apple", "banana", "cherry"]

uppercase_words = list(map(lambda x: x.upper(), words))

print(uppercase_words)

['APPLE', 'BANANA', 'CHERRY']

## Problem 3: Filter even numbers using `filter()`

**Approach:**
- Use `filter()`
- Condition: number % 2 == 0

In [3]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6]

## Problem 4: Filter names longer than 4 characters

**Approach:**
- Use `filter()`
- Keep strings with length > 4

In [4]:
names = ["Amit", "Rahul", "Sneha", "Karan", "Priyanka"]

long_names = list(filter(lambda x: len(x) > 4, names))

print(long_names)

['Rahul', 'Sneha', 'Karan', 'Priyanka']

## Problem 5: Find sum of numbers using `reduce()`

**Approach:**
- Import reduce from functools
- Add elements step-by-step

In [5]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

total_sum = reduce(lambda x, y: x + y, numbers)

print(total_sum)

15

## Problem 6: Find product of numbers

**Approach:**
- Use reduce
- Multiply elements

In [6]:
from functools import reduce

numbers = [1, 2, 3, 4]

product = reduce(lambda x, y: x * y, numbers)

print(product)

24

## Problem 7: Combined Map + Filter

**Problem:** Square numbers and keep only even results

**Approach:**
- Map to square
- Filter even values

In [7]:
numbers = [1, 2, 3, 4, 5]

squared = map(lambda x: x * x, numbers)
even_squares = list(filter(lambda x: x % 2 == 0, squared))

print(even_squares)

[4, 16]