# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [3]:
data = (10, 3.14, "Python", True)

print(data[0])
print(data[1])
print(data[2])
print(data[3])

10
3.14
Python
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [4]:
students = ("Amit", "Rahul", "Sneha", "Neha")
print(len(students))

4

### Question 4
Access and print the last element of a tuple.

In [5]:
t = ("Amit", "Rahul", "Sneha", "Neha")
print(t[-1])

Neha

### Question 5
Check whether an element exists in a tuple or not.

In [6]:
t = ("Delhi", "Mumbai", "Surat")

if "Mumbai" in t:
    print("Element exists")
else:
    print("Element does not exist")

Element exists

### Question 6
Convert a tuple into a list.

In [7]:
t = (10, 20, 30, 40)
l = list(t)

print(l)

[10, 20, 30, 40]

### Question 7
Convert a list into a tuple.

In [17]:
def tuple_to_list(t):
    l = list(t)
    return l
list = [10, 20, 30, 40]
tuple1 = __builtins__.tuple(list)
print(tuple1)

(10, 20, 30, 40)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [18]:
t = (1, 2, 3, 2, 4, 2, 5)

print(t.count(2))

3

### Question 9
Find the index of an element in a tuple.

In [19]:
t = ("Delhi", "Mumbai", "Surat", "Mumbai")

print(t.index("Mumbai"))

1

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [32]:
numbers = {1, 3, 5, 7, 9}
print(numbers)

{1, 3, 5, 7, 9}

### Question 12
Create a set with duplicate values and observe the output.

In [33]:
numbers = {1, 2, 3, 2, 4, 1, 5}
print(numbers)

{1, 2, 3, 4, 5}

### Question 13
Add an element to a set.

In [34]:
numbers = {1, 2, 3, 4}
numbers.add(5)

print(numbers)

{1, 2, 3, 4, 5}

### Question 14
Remove an element from a set.

In [35]:

numbers = {1, 2, 3, 4, 5}
numbers.remove(3)

print(numbers)

{1, 2, 4, 5}

### Question 15
Check whether an element exists in a set.

In [36]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print("Element exists")
else:
    print("Element does not exist")

Element exists

### Question 16
Find the length of a set.

In [37]:
numbers = {1, 2, 3, 4, 5}
print(len(numbers))

5

### Question 17
Convert a list with duplicate values into a set.

In [38]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)

print(unique_numbers)

{1, 2, 3, 4, 5}

### Question 18
Convert a set into a list.

### Question 19
Find common elements between two sets.

In [43]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

common = set1 & set2
print(common)

{3, 4}

### Question 20
Find all unique elements from two sets.

In [44]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

unique_elements = set1 | set2
print(unique_elements)

{1, 2, 3, 4, 5, 6}

# Optional Question
### Problem:
Class A has students: {"Amit", "Neha", "Rahul"}
Class B has students: {"Rahul", "Priya", "Sneha"}

In [45]:
class_a={"Amit", "Neha", "Rahul"}
class_b={"Rahul", "Priya", "Sneha"}

final_list_of_student=class_a.union(class_b)
print(final_list_of_student)

{'Rahul', 'Amit', 'Sneha', 'Priya', 'Neha'}